@import app
section.cta
    background-image: url('../images/campo-2.jpg')   
    background-size: cover            
    div.cta-inner
        height: 497px       
        text-align: center         
        h1
           
            color: white  
            padding-top: 182px
            margin-bottom: 32px
            line-height: 120%   
            margin-left: 300px
            margin-right: 300px 
                     
        a.button
            &::after
                color: white
        

@media ( max-width: 425px)
section.cta
    background-image: url('../images/campo-2.jpg')   
    background-size: cover            
    div.cta-inner
        height: 497px       
        text-align: center         
        h1
           
            color: white  
            padding-top: 85px
            margin-bottom: 49px
            line-height: 120%   
            margin-left: 0px
            margin-right: 0px 
                     
        a.button
            &::after
                color: white