@import app
section.cta
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.132) 0%, rgba(0, 0, 0, 0.4) 50.34%, rgba(0, 0, 0, 0.228) 100%),url(back_2.jpg), #589E2F   
    background-size: cover            
    div.cta-inner
        height: 497px   
        h1           
            color: white  
            text-align: center
            margin-bottom: 32px
            line-height: 120%   
            margin-left: 300px
            margin-right: 300px 
                     
        a.button
            &::after
                color: white
        

@media ( max-width: 425px)
section.cta
    background-image: url('../images/campo-2.jpg')   
    background-size: cover
    background-position: center            
    div.cta-inner
        height: 497px       
        text-align: center         
        h1
            color: white  
            padding-top: 85px
            margin-bottom: 49px
            line-height: 120%   
            margin-left: 0px
            margin-right: 0px 
                        
        a.button
            &::after
                color: white


// @media ( max-width: 1920px)
//     section.cta
//         background-image: url('../images/campo-2.jpg')   
//         background-position: center
//         background-size: cover        
//         div.cta-inner
//             height: 497px       
//             text-align: center         
//             h1
            
//                 // color: white  
//                 padding-top: 161px
//                 // margin-bottom: 49px
//                 // line-height: 120%   
//                 // margin-left: 0px
//                 // margin-right: 0px 
//                 font-size: 73px 
                        
//             a.button
//                 color: white
//                 font-size: 26px