section.cta
    background-image: url('../images/campo-2.jpg')
    background-position: center
    background-size: cover 
  
    div.cta-inner
        text-align: center
        height: 497px
        width: 40%
        margin-left: auto
        margin-right: auto 
       
        h1
            color: white
        a.button
            &::after
                color: white
            

