@import app



footer
    background-color: $green
    height: 215px
    div.footer-inner
        div.datos-wrapper
            display: flex
            div.item
                margin-top: 51px
                margin-left: 107px               
                img
                    width: 136px
                    height: 38px
                    margin-right: 204px
                    
            div.item
               
                p
                    color: white
                    margin-right: 75px                 
                    strong
                    a
                        color: white
            div.item
                p
                    strong
                    a
            div.item
                
                p  
                                      
                    strong
                    a
        div.creditos
            text-align: center
            color: white
            p
                img