@import app
header
    div.header-inner
            display: flex
            justify-content: space-between
            align-items: center
            margin-top: 48px
            a.logo                
                img
                    width: 149px

            div.buttons
                a.button
                    &.left
                        margin-left: 5px
                    


    @media (max-width: 2600px)
        .header-inner 
            display: flex
            justify-content: space-between
            align-items: center
            margin-top: 48px
            .logo               
                img
            .buttons                
                button                   
    @media (max-width: 2400px)
        .header-inner 
            background-color: pink
            .logo
                img
            .buttons
                button
    @media (max-width: 2200px)
        .header-inner 
            background-color: violet
            .logo
                img
            .buttons
                button
    @media (max-width: 2000px)
        .header-inner 
            background-color: brown
            .logo
                img
            .buttons
                button
    @media (max-width: 1500px)
        .header-inner 
            background-color: purple
            .logo
                img
            .buttons
                button
    @media (max-width: 1200px)
        .header-inner
            background-color: $green
            .logo
                img
            .buttons
                button
    @media (max-width: 900px)
        .header-inner
            background-color: orange
            .logo
                img
            .buttons
                button
    
    
    @media (max-width: 600px )
        .header-inner           
            background-color: $blue
               
            .logo              
                img
            .buttons
                button                    
   
    @media (max-width: 300px)
        .header-inner 
            background-color: yellow
            .logo
                img
            .buttons
                button
                  
                    
                    
                    

    
            
               
       
       
       
        
           
    


    

      
                   
           
            
                        
             
           

                    