@import app
/* Notebook */
header
    div.header-inner
        width: auto
        display: flex
        justify-content: space-between
        align-items: center
        margin-top: 48px
        a.logo                
            img
                width: 149px
        div.buttons
            a.button                
                &.left
                    margin-left: 5px

/* Phone */
@media (max-width: 425px)   
    .header-inner          
        .logo         
            img
                margin-left: -80px
        .buttons 
            display: flex 
            margin-left: 15px                                             
            a.button



    /* Tablet */
    @media (max-width: 768px)
        .header-inner
            .logo
                img           
            .buttons 
                // display: flex                              
                .button                    
                    &.left
                    // margin-left: 5px
    
                          
                    
 
    // /* Screen PC */                   
    // @media (max-width: 1920px)
    //     .header-inner
    //         .logo
    //             img 
    //                 width: 250px                       
    //         .buttons 
    //             // display: flex                              
    //             .button 
    //                 width: 100%
    //                 font-size: 29px                   
    //                 &.left
    //                 // margin-left: 5px
            
                   
                    
                                  