@import app
section.hectareas //Falta imagen de la hoja 
    
    text-align: center  
    margin-top: 5%    
    div.hectarea.inner        
        
    div        
        img.hoja
            position: absolute
            margin-top: -60px
            width: 140px
            height: 150px
            left: 625px
        h2   
            position: relative         
            color: $blue          
    div.items
        display: flex
        justify-content: center  
        margin-top: 90px
        div.item
            background-color: white
            width: 180px
            height: 178px
            margin-right: 4%
            text-align: center
            align-items: center
            margin-top: 2% 
           
            img
                margin-top: 30px
                width: 45px
                height: 48px
            h5
            p
                margin-top: -15%
                font-weight: 700  
        div.itemm 
            background-color: white
            width: 180px
            height: 178px
            margin-right: 4%
            text-align: center
            align-items: center    
            img
                margin-top: 30px
                width: 45px
                height: 48px
            h5
            p
                margin-top: -20%
                font-weight: 700  
       
      

@media ( max-width: 425px)            
    section.hectareas     
        text-align: center  
        margin-top: 5%    
        div.hectarea.inner        
            
        div        
            img.hoja
                position: absolute
                margin-top: 32px
                width: 140px
                height: 147px
                left: 140px
            h2   
                position: relative         
                color: $blue          
        div.items
            display: flex
            justify-content: center  
            margin-top: 0px
            div.item
                background-color: white
                width: 180px
                height: 178px
                margin-right: 4%
                text-align: center
                align-items: center
                margin-top: 6% 
                img
                    margin-top: 30px
                    width: 45px
                    height: 48px
                h5
                p
                    margin-top: -15%
                    font-weight: 700  
            div.itemm 
                background-color: white
                width: 180px
                height: 178px
                margin-right: 4%
                text-align: center
                align-items: center    
                img
                    margin-top: 30px
                    width: 45px
                    height: 48px
                h5
                p
                    margin-top: -20%
                    font-weight: 700  

@media ( max-width: 425px)            
    section.hectareas     
        text-align: center  
        margin-top: 5%    
        div.hectarea.inner        
            
        div        
            img.hoja
                position: absolute
                margin-top: 32px
                width: 140px
                height: 147px
                left: 140px
            h2   
                position: relative         
                color: $blue          
        div.items
            display: flex
            justify-content: center  
            margin-top: 0px
            div.item
                background-color: white
                width: 180px
                height: 178px
                margin-right: 4%
                text-align: center
                align-items: center
                margin-top: 6% 
                img
                    margin-top: 30px
                    width: 45px
                    height: 48px
                h5
                p
                    margin-top: -15%
                    font-weight: 700  
            div.itemm 
                background-color: white
                width: 180px
                height: 178px
                margin-right: 4%
                text-align: center
                align-items: center    
                img
                    margin-top: 30px
                    width: 45px
                    height: 48px
                h5
                p
                    margin-top: -20%
                    font-weight: 700  



@media ( max-width: 768px)            
    section.hectareas     
        text-align: center  
        margin-top: 5%    
        div.hectarea.inner        
            
        div        
            img.hoja
                position: absolute
                margin-top: 32px
                width: 140px
                height: 147px
                left: 140px
            h2   
                position: relative         
                color: $blue          
        div.items
            display: flex
            justify-content: center  
            margin-top: 0px
            div.item
                background-color: white
                width: 180px
                height: 178px
                margin-right: 4%
                text-align: center
                align-items: center
                margin-top: 6% 
                img
                    margin-top: 30px
                    width: 45px
                    height: 48px
                h5
                p
                    margin-top: -15%
                    font-weight: 700  
            div.itemm 
                background-color: white
                width: 180px
                height: 178px
                margin-right: 4%
                text-align: center
                align-items: center    
                img
                    margin-top: 30px
                    width: 45px
                    height: 48px
                h5
                p
                    margin-top: -20%
                    font-weight: 700  
            

        
        