section.hectareas //Falta imagen de la hoja 
    background-image: url('../images/back-lines-3.png')
    background-size: 100%
    text-align: center
    margin-top: 5%    
    div.hectarea.inner   
        img 
            width: 20%
            height: 150px            
        h2                 
    div.items
        display: flex
        margin-left: 15%
        margin-top: 7%        
        div.item
            background-color: white
            width: 180px
            height: 178px
            margin-right: 4%
            text-align: center
            align-items: center
            margin-top: 2% 
           
            img
                margin-top: 30px
                width: 45px
                height: 48px
            h5
            p
                margin-top: -15%
                font-weight: 700  
        div.itemm 
            background-color: white
            width: 180px
            height: 178px
            margin-right: 4%
            text-align: center
            align-items: center    
            img
                margin-top: 30px
                width: 45px
                height: 48px
            h5
            p
                margin-top: -20%
                font-weight: 700  
       
      

                