section.planes-wrapper      
    background-image: url('../images/back-lines-2.png')  
    background-size: cover
    div.planes-inner            
        box-sizing: border-box
        h2
            color: $green
            text-align: center
            margin-top: 50px
            width: 37%
            padding-right: 30%
            padding-left: 30%
            margin-bottom: 62px
            margin-top: 122px
            span
                color: $blue                
        div.items
            display: flex  
            justify-content: space-between     
            div.item
                background-color: white   
                box-shadow: 7px 10px 30px rgba(13, 93, 86, 0.12)
                border-radius: 6px
                width: 31%            
                div.header                    
                    display: flex
                    width: 100%
                    justify-content: center
                    padding-top: 51px
                    margin-bottom: 39px
                    img
                       width: 10%
                    h3
                        font-weight: 700
                        color: $blue 
                        width: 40% 
                        
                div.checks 
                    padding: 
                            left: 36px
                            right: 36px  
                    div.check
                        display: flex 
                        margin-bottom: 18px
                        
                        img
                            width: 20px
                            height: 17px
                            margin-right: 8px
                        p  
                h4
                    color: $blue
                    text-align: center
                    margin-bottom: 21px
                    margin-top: 27px
                

                div          
                    a.button
                        display: block
                        text-align: center
                        margin-left: 36px
                        margin-right: 36px
                        margin-bottom:  36px
