section.the-webapp 
    background-image: url('../images/back-lines-3.png')
    background-size: cover  
    div.the-webapp-inner
        display: flex   
        align-content: center  

        div.data   
            align-content: center  
            width: 407px
            height: 314px                      
            h3 
            width: 700px
            color: $blue                                                               
            div.checks                     
                div.check                                     
                    display: flex  
                    flex-wrap: wrap  
                    align-items: center
                    img
                        width: 20px 
                        height: 15px  
                        margin-right: 1%                                          
        div.img            
            margin-left: 114px  
            margin-bottom: 66px                                            
            img
                width: 596
                height: 443px
                
