@import app
section.the-app
    background-image: url('../images/back-lines-2.png')
    background-size: cover
    display: flex
    justify-content: flex-start
    width: 580px
    height: 584px
    margin-bottom: 160px
    div.the-app-inner   
        display: flex
        margin-left: 29px
        margin-top: 81px                 
        div.img
            margin-right: 180px        
            img 
                width: 402px   
                height: 587px                    
        div.data  
            widht: 433px
            margin-right: 175px
            margin-top: 99px
            h3                 
                color: $blue                
            div.items 
                width: 433px  
                margin-top: 23px                              
                div.item
                    margin-bottom: -12px
                    display: flex 
                    align-items: center
                    img  
                        width: 20px 
                        height: 15px                                              
                        p                                                                           
            div.buttons
                display: flex  
                flex-wrap: wrap 
                margin-top: 5%                          
                a                          
                    img
                        height: 46px
                        margin-left: 15px
                        
                            