@import app
section.the-app
    background-image: url('../images/back-lines-2.png')
    background-size: cover
    display: flex
    justify-content: flex-start
    width: 580px
    height: 584px
    margin-bottom: 160px
    div.the-app-inner   
        display: flex
        margin-left: 29px
        margin-top: 81px                 
        div.img
            margin-right: 180px        
            img 
                width: 402px   
                height: 587px                    
        div.data  
            widht: 433px
            margin-right: 175px
            margin-top: 99px
            h3                 
                color: $blue                
            div.items 
                width: 433px  
                margin-top: 23px                              
                div.item
                    margin-bottom: -12px
                    display: flex 
                    align-items: center
                    img  
                        width: 20px 
                        height: 15px                                              
                        p                                                                           
            div.buttons
                display: flex  
                flex-wrap: wrap 
                margin-top: 5%                          
                a                          
                    img
                        height: 46px
                        margin-left: 15px




@media (max-width: 425px)    
    section.the-app       
        
        div.the-app-inner   
                        
            div.img
                margin-right: 180px   
                &.img
                    margin-left: -150px     
                img 
                    width: 402px   
                    height: 587px                    
            div.data  
                widht: 433px
                margin-right: 175px
                margin-top: 99px
                &.data
                    margin-left: -640px
                    padding: 15%
                    margin-top: 470px
                h3                 
                    color: $blue 
                    margin-right: 19px
                    margin-left: auto          
                div.items 
                    width: 433px  
                    margin-top: 23px  
                    &.items
                        margin-left: 20px                            
                    div.item
                        margin-bottom: -12px
                        display: flex 
                        align-items: center
                        img  
                            width: 20px 
                            height: 15px                                              
                            p                                                                           
                div.buttons
                    display: flex  
                    flex-wrap: wrap 
                    
                    a 
                        margin-left: 30                        
                        img
                            height: 46px
                           

@media (max-width: 786px)    
    section.the-app       
        
        div.the-app-inner   
                        
            div.img
                margin-right: 180px   
                &.img
                    margin-left: -150px     
                img 
                    width: 402px   
                    height: 587px                    
            div.data  
                widht: 433px
                margin-right: 175px
                margin-top: 99px
                &.data
                    margin-left: -640px
                    padding: 15%
                    margin-top: 470px
                h3                 
                    color: $blue 
                    margin-right: 19px
                    margin-left: auto          
                div.items 
                    width: 433px  
                    margin-top: 23px  
                    &.items
                        margin-left: 20px                            
                    div.item
                        margin-bottom: -12px
                        display: flex 
                        align-items: center
                        img  
                            width: 20px 
                            height: 15px                                              
                            p                                                                           
                div.buttons
                    display: flex  
                    flex-wrap: wrap 
                    
                    a 
                        margin-left: 30                        
                        img
                            height: 46px

