/* Notebook*/
section.the-webapp 
    background-image: url('../images/back-lines-3.png')
    background-size: cover
    width: 100%
    box-sizing: border-box
    div.the-webapp-inner
        display: flex   
        align-items: center 
        justify-content: space-between 
        width: 95%
        margin-left: auto
        margin-right: auto 
        padding-bottom: 60px
        padding-top: 24px
        div.data   
            align-items: center
            width: 45%                                 
            h3                
                color: $blue                                                                  
            div.checks   
                margin-top: 23px                                 
                div.check  
                    margin-bottom: 8px                                   
                    display: flex 
                    align-items: center
                    img
                        width: 20px 
                        height: 15px  
                    p
                        margin-left: 8px
        div.img  
            width: 55%
            margin-right: -40px
            img
                width: 100%
     