@import app
section.the-webapp 
    background-image: url('../images/back-lines-3.png')
    background-size: cover
    div.the-webapp-inner
        display: flex   
        align-content: center  

        div.data   
            align-content: center  
            width: 407px
            height: 314px 
            margin-left: 175px                     
            h3 
                width: 407px
                height: 113px
                color: $blue                                                               
            div.checks
                margin-bottom: 13px                     
                div.check                                     
                    display: flex 
                    align-items: center
                    img
                        width: 20px 
                        height: 15px  
                    p
                        margin-bottom: 5px                     
        div.img                             
            img
                width: 596px
                height: 443px
                margin-right: 128px
                
@media (max-width: 425px)    
    section.the-webapp 
        background-image: url('../images/back-lines-3.png')
        background-size: cover
        div.the-webapp-inner
            display: flex   
            align-content: center  

            div.data   
                align-content: center  
                width: 407px
                height: 314px 
                margin-left: -90px 
                margin-top: 380px
                                    
                h3 
                    width: 395px
                    height: 113px
                    color: $blue  
                    margin-bottom: 50px
                    margin-top: 0px
                                                                                 
                div.checks
                    margin-bottom: 15px                     
                    div.check                                     
                        display: flex 
                        align-items: center
                        img
                            width: 20px 
                            height: 15px  
                        p
                            margin-bottom: 5px                     
            div.img                                           
                img
                    margin-left: -430px
                    height: 443px
                    width: 443px
                    margin-top: 700px
                  