@import app
section.servicios
    background-image: url('../images/campo-3.jpg')
    background-position: center
    background-size: cover
    display: flex
    justify-content: center
    div.servicios-inner  
        margin-left: auto
        margin-right: auto             
        h2
            color: $light-green
            font-weight: 700                    
            text-align: center
            width: 50%
            margin-left: auto
            margin-right: auto
            margin-top: 2%
            margin-bottom: 40px
            padding: 6%        
        div.items
            display: flex                                             
            div.item
                background-color: $light-green     
                margin: 1%              
                box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3)                    
                border-radius: 6px               
                width: 340px
                height: 333px
                margin-bottom: 75px 
                           
                div.header  
                    margin-left: 39px                 
                    width: 268%
                    display: flex                  
                    align-items: center                   
                    img 
                        width: 5%
                        height: 45px
                        margin-right: 2%                                     
                    h5   
                        color: $blue                       
                        display: flex
                        width: 200px                                                         
                div.checks                   
                    margin-left: 15%                           
                    div.check  
                        display: flex
                        img
                                width: 20px 
                                height: 17px  
                                margin-right: 1%                                          
      
                        p
                            margin: 5px
                           

@media (max-width: 1920px)            
    section.servicios
        background-image: url('../images/campo-3.jpg')
        background-position: center
        background-size: cover
        display: flex
        justify-content: center
        div.servicios-inner  
            margin-left: auto
            margin-right: auto
            
                    
            h2
                color: $light-green
                font-weight: 700                    
                text-align: center
                width: 50%
                margin-left: auto
                margin-right: auto
                margin-top: 2%
                margin-bottom: 40px
                padding: 6% 
                width: 90%       
            div.items 
                display: inline                                      
                div.item
                    background-color: $light-green     
                    margin: 1%              
                    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3)                    
                    border-radius: 6px               
                    width: 340px
                    height: 333px
                    margin-bottom: 75px 
                            
                    div.header  
                        margin-left: 39px                 
                        width: 268%
                        display: flex                  
                        align-items: center                   
                        img 
                            width: 5%
                            height: 45px
                            margin-right: 2%                                     
                        h5   
                            color: $blue                       
                            display: flex
                            width: 200px                                                         
                    div.checks                   
                        margin-left: 15%                           
                        div.check  
                            display: flex
                            img
                                    width: 20px 
                                    height: 17px  
                                    margin-right: 1%                                          
        
                            p
                                margin: 5px

@media (max-width: 768px)  
    section.servicios
        // background-image: url('../images/campo-3.jpg')
        // background-position: center
        // background-size: cover
        // display: flex
        // justify-content: center
        div.servicios-inner  
            // margin-left: auto
            // margin-right: auto
            
                    
            h2
                // color: $light-green
                // font-weight: 700                    
                // text-align: center
                width: 90%
                // margin-left: auto
                // margin-right: auto
                // margin-top: 2%
                // margin-bottom: 40px
                // padding: 6% 
                // width: 90%       
            div.items 
                display: block                                      
                div.item
                    // background-color: $light-green     
                    margin-left: 76px              
                    // box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3)                    
                    // border-radius: 6px               
                    width: 340px
                    height: 310px
                    margin-bottom: 22px 
                    div.header  
                        // margin-left: 39px                 
                        // width: 268%
                        // display: flex                  
                        // align-items: center                   
                        img 
                            // width: 5%
                            // height: 45px
                            // margin-right: 2%                                     
                        h5   
                            // color: $blue                       
                            // display: flex
                            // width: 200px                                                         
                    div.checks                   
                        // margin-left: 15%                           
                        div.check  
                            // display: flex
                            img
                                    // width: 20px 
                                    // height: 17px  
                                    // margin-right: 1%                                          
        
                            p
                                // margin: 5px


@media (max-width: 425px)            
    section.servicios
        background-image: url('../images/campo-3.jpg')
        background-position: center
        background-size: cover
        display: flex
        justify-content: center
        div.servicios-inner  
            margin-left: auto
            margin-right: auto
            
                    
            h2
                color: $light-green
                font-weight: 700                    
                text-align: center
                width: 50%
                margin-left: auto
                margin-right: auto
                margin-top: 2%
                margin-bottom: 40px
                padding: 6% 
                width: 90%       
            div.items 
                display: inline                                      
                div.item
                    background-color: $light-green     
                    margin: 1%              
                    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3)                    
                    border-radius: 6px               
                    width: 340px
                    height: 333px
                    margin-bottom: 75px 
                            
                    div.header  
                        margin-left: 39px                 
                        width: 268%
                        display: flex                  
                        align-items: center                   
                        img 
                            width: 5%
                            height: 45px
                            margin-right: 2%                                     
                        h5   
                            color: $blue                       
                            display: flex
                            width: 200px                                                         
                    div.checks                   
                        margin-left: 15%                           
                        div.check  
                            display: flex
                            img
                                    width: 20px 
                                    height: 17px  
                                    margin-right: 1%                                          
        
                            p
                                margin: 5px