/* Reset http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* set  */
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #F7FCF9;
  font-size: 15px;
}

/* Fuentes */
p {
  line-height: 135%;
}

h1 {
  font-size: 42px;
  line-height: 110%;
  font-weight: 700;
}

h2 {
  font-size: 38px;
  line-height: 105%;
  font-weight: 700;
}

h3 {
  font-size: 32px;
  line-height: 120%;
  font-weight: 700;
}

h4 {
  font-size: 28px;
  line-height: 115%;
  font-weight: 700;
}

h5 {
  font-size: 22px;
  line-height: 110%;
  font-weight: 700;
}

h6 {
  font-size: 17px;
  line-height: 110%;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #373737;
}

/* colores */
.color-green {
  color: #85CB33;
}

/* botones */
.button {
  border-radius: 4px;
  background-color: #5FAE31;
  padding: 11px 20px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  border: solid 1px #5FAE31;
}
.button.outline {
  background-color: transparent;
  border: solid 1px #373737;
  color: #373737;
}

/* paddings */
.paddings-l-r {
  padding-left: 112px;
  padding-right: 112px;
}

/* Header */
header div.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}
header div.header-inner a.logo img {
  width: 149px;
}
header div.header-inner div.buttons a.button.left {
  margin-left: 5px;
}

section.hero {
  width: 100%;
  background-image: url("../images/back-lines-1.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
}
section.hero div.hero-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  padding-bottom: 6%;
}
section.hero div.hero-inner h1 {
  font-weight: 700;
  margin-bottom: 26px;
  text-align: center;
  color: #005377;
}
section.hero div.hero-inner p {
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin-bottom: 26px;
}

section.presentacion {
  background-image: url("../images/campo-4.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}
section.presentacion div.card {
  background-color: #F7FCF9;
  width: 30%;
  padding: 50px 45px;
  margin-top: 61px;
  margin-bottom: 90px;
  border-radius: 4px;
}
section.presentacion div.card h2 {
  font-weight: 700;
  margin-bottom: 32px;
  color: #005377;
}
section.presentacion div.card div.item {
  width: 100%;
  margin-bottom: 1.8em;
}
section.presentacion div.card div.item:last-child {
  margin-bottom: 0;
}
section.presentacion div.card div.item div.title {
  width: 100%;
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
  margin-bottom: 15px;
  box-sizing: border-box;
}
section.presentacion div.card div.item div.title img {
  width: 30px;
  height: 100%;
  margin-right: 14px;
}
section.presentacion div.card div.item div.title h5 {
  font-weight: 700;
  width: 100%;
}

section.the-app {
  background-image: url("../images/back-lines-2.png");
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  width: 50%;
}
section.the-app div.the-app-inner {
  display: flex;
  flex-wrap: wrap;
}
section.the-app div.the-app-inner div.img {
  margin-top: 88px;
  margin-right: 30px;
}
section.the-app div.the-app-inner div.data {
  margin-top: 139px;
}
section.the-app div.the-app-inner div.data h3 {
  width: 90%;
  color: #005377;
  margin-bottom: 38px;
}
section.the-app div.the-app-inner div.data div.items div.item {
  width: 100%;
  display: flex;
  flex-wrap: no-wrap;
}
section.the-app div.the-app-inner div.data div.items div.item img {
  width: 20px;
  height: 100%;
  margin-right: 14px;
  margin-bottom: 12px;
}
section.the-app div.the-app-inner div.data div.buttons {
  display: flex;
}
section.the-app div.the-app-inner div.data div.buttons a img {
  height: 50px;
}