/* set  */
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #F7FCF9;
  font-size: 15px;
}

/* Fuentes */
p {
  line-height: 135%;
}

h1 {
  font-size: 42px;
  line-height: 110%;
  font-weight: 700;
}

h2 {
  font-size: 38px;
  line-height: 105%;
  font-weight: 700;
  color: #005377;
}

h3 {
  font-size: 32px;
  line-height: 120%;
  font-weight: 700;
}

h4 {
  font-size: 28px;
  line-height: 115%;
  font-weight: 700;
}

h5 {
  font-size: 22px;
  line-height: 110%;
  font-weight: 700;
}

h6 {
  font-size: 17px;
  line-height: 110%;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #373737;
}

/* colores */
.color-green {
  color: #85CB33;
}

/* botones */
.button {
  border-radius: 4px;
  background-color: #5FAE31;
  padding: 11px 20px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  border: solid 1px #5FAE31;
}
.button.outline {
  background-color: transparent;
  border: solid 1px #373737;
  color: #373737;
}

/* paddings */
.paddings-l-r {
  padding-left: 112px;
  padding-right: 112px;
}

section.cta {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.132) 0%, rgba(0, 0, 0, 0.4) 50.34%, rgba(0, 0, 0, 0.228) 100%), url(back_2.jpg), #589E2F;
  background-size: cover;
}
section.cta div.cta-inner {
  height: 497px;
}
section.cta div.cta-inner h1 {
  color: white;
  text-align: center;
  margin-bottom: 32px;
  line-height: 120%;
  margin-left: 300px;
  margin-right: 300px;
}
section.cta div.cta-inner a.button::after {
  color: white;
}

section.cta {
  background-image: url("../images/campo-2.jpg");
  background-size: cover;
  background-position: center;
}
section.cta div.cta-inner {
  height: 497px;
  text-align: center;
}
section.cta div.cta-inner h1 {
  color: white;
  padding-top: 85px;
  margin-bottom: 49px;
  line-height: 120%;
  margin-left: 0px;
  margin-right: 0px;
}
section.cta div.cta-inner a.button::after {
  color: white;
}