section.cta {
  background-image: url("../images/campo-2.jpg");
  background-position: center;
  background-size: cover;
}
section.cta div.cta-inner {
  text-align: center;
  height: 497px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
section.cta div.cta-inner h1 {
  color: white;
}
section.cta div.cta-inner a.button::after {
  color: white;
}