/* set  */
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #F7FCF9;
  font-size: 15px;
}

/* Fuentes */
p {
  line-height: 135%;
}

h1 {
  font-size: 42px;
  line-height: 110%;
  font-weight: 700;
}

h2 {
  font-size: 38px;
  line-height: 105%;
  font-weight: 700;
  color: #005377;
}

h3 {
  font-size: 32px;
  line-height: 120%;
  font-weight: 700;
}

h4 {
  font-size: 28px;
  line-height: 115%;
  font-weight: 700;
}

h5 {
  font-size: 22px;
  line-height: 110%;
  font-weight: 700;
}

h6 {
  font-size: 17px;
  line-height: 110%;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #373737;
}

/* colores */
.color-green {
  color: #85CB33;
}

/* botones */
.button {
  border-radius: 4px;
  background-color: #5FAE31;
  padding: 11px 20px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  border: solid 1px #5FAE31;
}
.button.outline {
  background-color: transparent;
  border: solid 1px #373737;
  color: #373737;
}

/* paddings */
.paddings-l-r {
  padding-left: 112px;
  padding-right: 112px;
}

@media (max-width: 1200px) {
  header .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
  }
  header .header-inner .logo img {
    width: 149px;
  }
  header .header-inner .buttons button.left {
    margin-left: 5px;
  }

  .hero {
    width: 100%;
    background-image: url("../images/back-lines-1.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
  }
  .hero .hero-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    padding-bottom: 6%;
  }
  .hero .hero-inner h1 {
    font-weight: 700;
    margin-bottom: 26px;
    text-align: center;
    color: #005377;
  }
  .hero .hero-inner p {
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-bottom: 26px;
  }

  .presentacion {
    background-image: url("../images/campo-4.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
  }
  .presentacion .card {
    background-color: #F7FCF9;
    width: 30%;
    padding: 50px 45px;
    margin-top: 61px;
    margin-bottom: 90px;
    border-radius: 4px;
  }
  .presentacion .card h2 {
    font-weight: 700;
    margin-bottom: 32px;
    color: #005377;
  }
  .presentacion .card .item {
    width: 100%;
    margin-bottom: 1.8em;
  }
  .presentacion .card .item:last-child {
    margin-bottom: 0;
  }
  .presentacion .card .item .title {
    width: 100%;
    display: flex;
    flex-wrap: no-wrap;
    align-items: center;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  .presentacion .card .item .title img {
    width: 30px;
    height: 100%;
    margin-right: 14px;
  }
  .presentacion .card .item .title h5 {
    font-weight: 700;
    width: 100%;
  }

  .the-app {
    background-image: url("../images/back-lines-2.png");
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    width: 580px;
    height: 584px;
    margin-bottom: 160px;
  }
  .the-app .the-app-inner {
    display: flex;
    margin-left: 29px;
    margin-top: 81px;
  }
  .the-app .the-app-inner .img {
    margin-right: 180px;
  }
  .the-app .the-app-inner .img img {
    width: 402px;
    height: 587px;
  }
  .the-app .data {
    widht: 433px;
    margin-right: 175px;
    margin-top: 99px;
  }
  .the-app .data h3 {
    color: #005377;
  }
  .the-app .data .items {
    width: 433px;
    margin-top: 23px;
  }
  .the-app .data .items .item {
    margin-bottom: -12px;
    display: flex;
    align-items: center;
  }
  .the-app .data .items .item img {
    width: 20px;
    height: 15px;
  }
  .the-app .data .buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
  }
  .the-app .data .buttons a img {
    height: 46px;
    margin-left: 15px;
  }

  .the-webapp {
    background-image: url("../images/back-lines-3.png");
    background-size: cover;
  }
  .the-webapp .the-webapp-inner {
    display: flex;
    align-content: center;
  }
  .the-webapp .the-webapp-inner .data {
    align-content: center;
    width: 407px;
    height: 314px;
    margin-left: 175px;
  }
  .the-webapp .the-webapp-inner .data h3 {
    width: 407px;
    height: 113px;
    color: #005377;
  }
  .the-webapp .the-webapp-inner .data .checks {
    margin-bottom: 13px;
  }
  .the-webapp .the-webapp-inner .data .checks .check {
    display: flex;
    align-items: center;
  }
  .the-webapp .the-webapp-inner .data .checks .check img {
    width: 20px;
    height: 15px;
  }
  .the-webapp .the-webapp-inner .data .checks .check p {
    margin-bottom: 5px;
  }
  .the-webapp .the-webapp-inner .img img {
    width: 596px;
    height: 443px;
    margin-right: 128px;
  }

  .servicios {
    background-image: url("../images/campo-3.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
  }
  .servicios .servicios-inner {
    margin-left: auto;
    margin-right: auto;
  }
  .servicios .servicios-inner h2 {
    color: #F7FCF9;
    font-weight: 700;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 40px;
    padding: 6%;
  }
  .servicios .servicios-inner .items {
    display: flex;
  }
  .servicios .servicios-inner .items .item {
    background-color: #F7FCF9;
    margin: 1%;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    width: 340px;
    height: 333px;
    margin-bottom: 75px;
  }
  .servicios .servicios-inner .items .item .header {
    margin-left: 39px;
    width: 268%;
    display: flex;
    align-items: center;
  }
  .servicios .servicios-inner .items .item .header img {
    width: 5%;
    height: 45px;
    margin-right: 2%;
  }
  .servicios .servicios-inner .items .item .header h5 {
    color: #005377;
    display: flex;
    width: 200px;
  }
  .servicios .servicios-inner .items .item .checks {
    margin-left: 15%;
  }
  .servicios .servicios-inner .items .item .checks .check {
    display: flex;
  }
  .servicios .servicios-inner .items .item .checks .check img {
    width: 20px;
    height: 17px;
    margin-right: 1%;
  }
  .servicios .servicios-inner .items .item .checks .check p {
    margin: 5px;
  }

  .equipo .equipo-inner {
    margin-left: auto;
    margin-right: auto;
  }
  .equipo .equipo-inner img.hoja {
    position: absolute;
    width: 147.95px;
    height: 150px;
    margin-left: 450px;
    margin-top: -30px;
  }
  .equipo .equipo-inner h2 {
    position: relative;
    color: #005377;
    font-weight: 700;
    width: 509px;
    height: 93px;
    margin-top: 141px;
    margin-left: 350px;
    margin-right: 566px;
    line-height: 120%;
  }
  .equipo .equipo-inner .personas {
    display: flex;
    margin: 20px;
  }
  .equipo .equipo-inner .personas .persona {
    position: relative;
    margin-right: 450px;
  }
  .equipo .equipo-inner .personas .persona .img img {
    width: 220px;
    height: 285px;
    border-radius: 4px;
    z-index: 1000;
  }
  .equipo .equipo-inner .personas .persona .data {
    position: absolute;
    color: white;
    top: 40px;
    box-shadow: 7px 10px 30px rgba(13, 93, 86, 0.12);
    left: 180px;
    z-index: 1;
  }
  .equipo .equipo-inner .personas .persona h5 {
    color: #85CB33;
    line-height: 130%;
    margin-left: 62px;
  }
  .equipo .equipo-inner .personas .persona p.description {
    color: #005377;
    font-weight: 600;
    line-height: 105%;
    margin-bottom: 19px;
    width: 189px;
    height: 34px;
  }
  .equipo .equipo-inner .personas .persona p {
    color: #373737;
    margin-left: 62px;
    margin-right: 62px;
    width: 189px;
    height: 165px;
  }
  .equipo .equipo-inner .personas .persona .rrss {
    display: flex;
  }
  .equipo .equipo-inner .personas .persona .rrss a img {
    width: 20px;
    height: 20px;
    margin-left: 65px;
    margin-right: -55px;
  }

  .planes-wrapper {
    background-image: url("../images/back-lines-2.png");
    background-size: cover;
  }
  .planes-wrapper .planes-inner h2 {
    color: #85CB33;
    text-align: center;
    margin-top: 121px;
  }
  .planes-wrapper .planes-inner h2 span {
    color: #005377;
  }
  .planes-wrapper .planes-inner .items {
    display: flex;
  }
  .planes-wrapper .planes-inner .items .item {
    background-color: white;
    width: 340px;
    height: 542px;
    margin: 1%;
  }
  .planes-wrapper .planes-inner .items .item .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .planes-wrapper .planes-inner .items .item .header img {
    width: 24px;
    height: 24px;
    margin-right: 5%;
  }
  .planes-wrapper .planes-inner .items .item .header h3 {
    font-weight: 700;
    margin-bottom: 32px;
    color: #005377;
  }
  .planes-wrapper .planes-inner .items .item .checks {
    margin-left: 36px;
    margin-right: 36px;
  }
  .planes-wrapper .planes-inner .items .item .checks .check {
    display: flex;
  }
  .planes-wrapper .planes-inner .items .item .checks .check img {
    width: 20px;
    height: 10%;
    margin-right: 14px;
    margin-bottom: 50px;
  }
  .planes-wrapper .planes-inner .items .item .checks .check p {
    margin-top: -5px;
  }
  .planes-wrapper .planes-inner .items .item h4 {
    color: #005377;
    margin-left: 30%;
    margin-top: 20px;
  }
  .planes-wrapper .planes-inner .items .item h4 a.button {
    margin-left: 23%;
  }

  .testimonio {
    background-image: url("../images/campo-1.jpg");
    background-position: center;
    background-size: cover;
  }
  .testimonio .testimonio-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    padding-bottom: 6%;
  }
  .testimonio .testimonio-inner .item {
    text-align: center;
  }
  .testimonio .testimonio-inner .item .img img {
    margin-top: 125px;
    border-radius: 150px;
    width: 30%;
    height: 108px;
  }
  .testimonio .testimonio-inner .item h4 {
    color: white;
    width: 378px;
    height: 96px;
    text-align: center;
  }
  .testimonio .testimonio-inner .item h6 {
    color: white;
    text-align: center;
    margin-bottom: -15px;
    margin-top: -15px;
  }
  .testimonio .testimonio-inner .item p {
    color: white;
    text-align: center;
  }

  .hectareas {
    background-image: url("../images/back-lines-3.png");
    background-size: 100%;
    text-align: center;
    margin-top: 5%;
  }
  .hectareas .hectarea.inner img.hoja {
    position: absolute;
    margin-top: -60px;
    width: 140px;
    height: 150px;
    left: 625px;
  }
  .hectareas .hectarea.inner h2 {
    position: relative;
    color: #005377;
  }
  .hectareas .items {
    display: flex;
    justify-content: center;
    margin-top: 58 px;
  }
  .hectareas .items .item {
    background-color: white;
    width: 180px;
    height: 178px;
    margin-right: 4%;
    text-align: center;
    align-items: center;
    margin-top: 2%;
  }
  .hectareas .items .item img {
    margin-top: 30px;
    width: 45px;
    height: 48px;
  }
  .hectareas .items .item p {
    margin-top: -15%;
    font-weight: 700;
  }
  .hectareas .items .itemm {
    background-color: white;
    width: 180px;
    height: 178px;
    margin-right: 4%;
    text-align: center;
    align-items: center;
  }
  .hectareas .items .itemm img {
    margin-top: 30px;
    width: 45px;
    height: 48px;
  }
  .hectareas .items .itemm p {
    margin-top: -20%;
    font-weight: 700;
  }

  .cta {
    background-image: url("../images/campo-2.jpg");
    background-size: cover;
  }
  .cta .cta-inner {
    height: 497px;
    text-align: center;
  }
  .cta .cta-inner h1 {
    color: white;
    padding-top: 182px;
    margin-bottom: 32px;
    line-height: 120%;
    margin-left: 300px;
    margin-right: 300px;
  }
  .cta .cta-inner a.button::after {
    color: white;
  }

  footer {
    background-color: #85CB33;
    height: 215px;
  }
  footer .footer-inner .datos-wrapper {
    display: flex;
  }
  footer .footer-inner .datos-wrapper .item {
    margin-top: 51px;
    margin-left: 107px;
  }
  footer .footer-inner .datos-wrapper .item img {
    width: 136px;
    height: 38px;
    margin-right: 204px;
  }
  footer .footer-inner .datos-wrapper .item p {
    color: white;
    margin-right: 75px;
  }
  footer .footer-inner .datos-wrapper .item p a {
    color: white;
  }
  footer .footer-inner .creditos {
    text-align: center;
    color: white;
  }
}
section.equipo div.equipo-inner {
  margin-left: auto;
  margin-right: auto;
}
section.equipo div.equipo-inner img.hoja {
  position: absolute;
  width: 147.95px;
  height: 150px;
  margin-left: 450px;
  margin-top: -30px;
}
section.equipo div.equipo-inner h2 {
  position: relative;
  color: #005377;
  font-weight: 700;
  width: 509px;
  height: 93px;
  margin-top: 141px;
  margin-left: 350px;
  margin-right: 566px;
  line-height: 120%;
}
section.equipo div.equipo-inner div.personas {
  display: flex;
  margin: 20px;
}
section.equipo div.equipo-inner div.personas div.persona {
  position: relative;
  margin-right: 450px;
}
section.equipo div.equipo-inner div.personas div.persona div.img img {
  width: 220px;
  height: 285px;
  border-radius: 4px;
  z-index: 1000;
}
section.equipo div.equipo-inner div.personas div.persona div.data {
  position: absolute;
  color: white;
  top: 40px;
  box-shadow: 7px 10px 30px rgba(13, 93, 86, 0.12);
  left: 180px;
  z-index: 1;
}
section.equipo div.equipo-inner div.personas div.persona h5 {
  color: #85CB33;
  line-height: 130%;
  margin-left: 62px;
}
section.equipo div.equipo-inner div.personas div.persona p.description {
  color: #005377;
  font-weight: 600;
  line-height: 105%;
  margin-bottom: 19px;
  width: 189px;
  height: 34px;
}
section.equipo div.equipo-inner div.personas div.persona p {
  color: #373737;
  margin-left: 62px;
  margin-right: 62px;
  width: 189px;
  height: 165px;
}
section.equipo div.equipo-inner div.personas div.persona div.rrss {
  display: flex;
}
section.equipo div.equipo-inner div.personas div.persona div.rrss a img {
  width: 20px;
  height: 20px;
  margin-left: 65px;
  margin-right: -55px;
}