header div.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}
header div.header-inner a.logo img {
  width: 149px;
}
header div.header-inner div.buttons a.button.left {
  margin-left: 5px;
}