section.hectareas {
  background-image: url("../images/back-lines-3.png");
  background-size: 100%;
  text-align: center;
  margin-top: 5%;
}
section.hectareas div.hectarea.inner img {
  width: 20%;
  height: 150px;
}
section.hectareas div.items {
  display: flex;
  margin-left: 15%;
  margin-top: 7%;
}
section.hectareas div.items div.item {
  background-color: white;
  width: 180px;
  height: 178px;
  margin-right: 4%;
  text-align: center;
  align-items: center;
  margin-top: 2%;
}
section.hectareas div.items div.item img {
  margin-top: 30px;
  width: 45px;
  height: 48px;
}
section.hectareas div.items div.item p {
  margin-top: -15%;
  font-weight: 700;
}
section.hectareas div.items div.itemm {
  background-color: white;
  width: 180px;
  height: 178px;
  margin-right: 4%;
  text-align: center;
  align-items: center;
}
section.hectareas div.items div.itemm img {
  margin-top: 30px;
  width: 45px;
  height: 48px;
}
section.hectareas div.items div.itemm p {
  margin-top: -20%;
  font-weight: 700;
}